<footer class="mt-auto">
    <div class="foot-section">
        <div class="foot-socials-info">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
        <div class="foot-webName">&copy;Wanderlust Private Limited</div>
        <div class="foot-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>