<% layout("/layouts/boilerplate.ejs") %>


<div class="row">
    <h2 class="col-6 offset-4 mb-4">Signup for Wanderlust</h2>
    <div class="col-10 offset-1 col-md-10 offset-md-1  col-lg-6 offset-md-2 col-sm-10 offset-sm-0">
        <form action="/signup"  method="POST" class="needs-validation" novalidate>
            <div class="mb-4">
            <label for="username" class="form-label">Username </label>
            <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            required
            />
            <div class="invalid-feedback">username is required,Choose a unique username</div>
            </div>

            <div class="mb-4">
            <label for="email" class="form-label">Email </label>
            <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            required
            />
            <div class="invalid-feedback">email is required</div>
            </div>

            <div class="mb-4">
            <label for="password" class="form-label">Password </label>
            <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            required
            />
            <div class="invalid-feedback">password is required</div>
            </div>
            
            <button class="btn btn-success">Signup</button>
        </form>
    </div>
</div>    